@font-face{
  font-family: cocobold;
  src: url("fonts/CocoGothic-Bold_trial.ttf") 
}

@font-face{
  font-family: sollight;
  src: url("fonts/Solomon Sans Light.otf") 
}

@font-face{
  font-family: solsemi;
  src: url("fonts/Solomon Sans SemiBold.otf") 
}



#lui{width:100%;}
#lui2{width:100%; display:block;}
#lui3{display:none;}
#img2{width:90%; padding:20px 5px 5px 10px; vertical-align:middle; margin:auto; display:inline-block;}
#logo{width:30%; }

.accord {
  float: right;
  width: 95%;
  margin-top:0px;

}
/* Acordeon styles 1
.tab {
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0px 0px 20px 0px;
  background: #DF2935;
  font-family: cocobold;
  font-size:20pt;
  font-weight: bold;
  line-height: 3;
  text-align:center;
  cursor: pointer;
}

label:hover{ color:#442043; transition:0.25s ease-in-out;}


.tab-content {
  max-height: 100%;
  overflow: hidden;
  background: #1abc9c;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  background:url('../bg.png'); background-size:cover;
  font-family: sollight;
  
}

.tab-content p {
  margin: 1em;
}
#cont1{padding: 40px 50px 20px 50px;}
/*:checked 
input:checked ~ .tab-content {
  max-height: 10em;
}
/* Icon 
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}*/


img:hover #lui {background: #442043; content:'home';}





a[title]:hover:after {
  content: attr(title);
  background:none;
  font-family:sollight;
  color:#ffd87c;
  mix-blend-mode:exclusion;
  text-align:center;
  font-size:9pt;
  transition:0.25s ease-in-out;
  }

  
  i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}





 button.accordion {
    background:#ff5e4c;
    color: white;
	font-family:solsemi;
	font-size:18pt;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border:none;
    outline: none;
    transition: 0.4s;
	
}


button.accordion:hover {
    background:#75cca0;
	color:white;
	mix-blend-mode:none;
}

button.accordion.active{
background:#ff5e4c;
	color:#7bdeb1;
}


div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}


div.panel.show {
    display: block !important;
}

div.panel {
    padding: 0 5px;
	width: 100%;
	color:white;
	font-size:12pt;
	font-family:cocolight;
	font-weight:400;
    background: #DF2935 url('../img/bg.png') fixed;
	background-size:cover;
    max-height: 0;
    transition: 0.6s ease-in-out;
    opacity: 0;
	text-align:center;
}
div.panel:focus {
    outline: none !important;
}

#text{padding:20px 20px 40px 70px;}

#text a{text-decoration:none;}
#text a:hover{font-family:cocobold;}

#menulogo{width:10%; margin:auto; mix-blend-mode:exclusion; }

div.panel.show {
    opacity: 1;
    max-height: 700px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}



 /*-----popup homepage------*/
	
	.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bgmain3.png') center;
  background-size:cover;
  transition: 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width:100%;
  height:100%;
  padding-left:470px;
  padding-top:150px;
  z-index:999999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1{z-index:1; position:fixed;}

#tonrose{margin-left:100px;}


.popup .close {
  position: absolute;
  font-size: 20px;
  font-family:sollight;
  text-decoration: none;
  color: white;
  text-align:center;
}
.popup .close:hover {
  color: #f37567;
}
.popup .content {
  text-align:center;
  transition: 0.25s ease-in-out;
  display:inline-block;
  margin:auto;
  width:300px;
 
}


/*----button for popup-------*/
#buttonpopup{
margin-top:-230px; 
margin-left:625px;}






@media only screen and (max-width : 480px){
#lui3{display:block; width:100%;}
#lui2{display:none;}
#logo{width:90%; }
.accord {
  float: right;
  width: 100%;
  margin-top:0px;}
#text{padding:20px;}

div.panel {background: #DF2935 url('../img/bg.png') fixed; background-size:cover;}
div.panel.show {
    opacity: 1;
    max-height: 1700px; 
	overflow-y:hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bgmain3.png') center;
  background-size:cover;
  transition: 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width:100%;
  height:100%;
  padding-left:50px;
  padding-top:150px;
  padding-right:50px;
  
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1{z-index:1; position:fixed;}

#tonrose{margin-left:10px;}

.g1{width:100%;}


.popup .close {
  position: absolute;
  font-size: 20px;
  font-family:sollight;
  text-decoration: none;
  color: white;
  text-align:center;
}
.popup .close:hover {
  color: #f37567;
}
.popup .content {
  text-align:center;
  transition: 0.25s ease-in-out;
  display:inline-block;
  margin:auto;
  width:300px;
  padding:100px;
 
}




}


@media only screen and (max-width : 650px) and (min-width : 481px) {
#lui3{display:block; width:100%;}
#lui2{display:none;}
#logo{width:90%; }
.accord {
  float: right;
  width: 100%;
  margin-top:0px;}
#text{padding:20px;}

div.panel {background: #DF2935 url('../img/bg.png') fixed; background-size:cover;}
div.panel.show {
    opacity: 1;
    max-height: 1700px; 
	overflow-y:hidden;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bgmain3.png') center;
  background-size:cover;
  transition: 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width:100%;
  height:100%;
  padding-left:120px;
  padding-top:160px;
  padding-right:50px;
  
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1{z-index:1; position:fixed;}

#tonrose{margin-left:40px;}

.g1{width:80%;}


.popup .close {
  position: absolute;
  font-size: 20px;
  font-family:sollight;
  text-decoration: none;
  color: white;
  text-align:center;
}
.popup .close:hover {
  color: #f37567;
}
.popup .content {
  text-align:center;
  transition: 0.25s ease-in-out;
  display:inline-block;
  margin:auto;
  width:300px;
  padding:100px;
 
}

}

@media only screen and (max-width : 768px) and (min-width : 651px) {

 #lui3{display:block; width:100%;}
#lui2{display:none;}
#logo{width:90%; }
.accord {
  float: right;
  width: 100%;
  margin-top:0px;}
#text{padding:20px;}

div.panel {background: #DF2935 url('../img/bg.png') fixed; background-size:cover;}
div.panel.show {
    opacity: 1;
    max-height: 1700px; 
	overflow-y:hidden;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bgmain3.png') center;
  background-size:cover;
  transition: 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width:100%;
  height:100%;
  padding-left:50px;
  padding-top:160px;
  padding-right:50px;
  text-align:center;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1{z-index:1; position:fixed;}

#tonrose{margin-left:0;}

.g1{width:50%;}


.popup .close {
  position: absolute;
  font-size: 20px;
  font-family:sollight;
  text-decoration: none;
  color: white;
  text-align:center;
}
.popup .close:hover {
  color: #f37567;
}
.popup .content {
  text-align:center;
  transition: 0.25s ease-in-out;
  display:inline-block;
  margin:auto;
  width:300px;
  padding:100px;
 
}


}


@media only screen and (max-width : 899px) and (min-width : 769px){
 
#lui3{display:block; width:100%;}
#lui2{display:none;}
#logo{width:90%; }
.accord {
  float: right;
  width: 100%;
  margin-top:0px;}
#text{padding:20px;}

div.panel {background: #DF2935 url('../img/bg.png') fixed; background-size:cover;}
div.panel.show {
    opacity: 1;
    max-height: 1700px; 
	overflow-y:hidden;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bgmain3.png') center;
  background-size:cover;
  transition: 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width:100%;
  height:100%;
  padding-left:50px;
  padding-top:160px;
  padding-right:50px;
  text-align:center;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1{z-index:1; position:fixed;}

#tonrose{margin-left:0;}

.g1{width:40%;}


.popup .close {
  position: absolute;
  font-size: 20px;
  font-family:sollight;
  text-decoration: none;
  color: white;
  text-align:center;
}
.popup .close:hover {
  color: #f37567;
}
.popup .content {
  text-align:center;
  transition: 0.25s ease-in-out;
  display:inline-block;
  margin:auto;
  width:300px;
  padding:100px;
 
}


 }
 
 
 
 @media screen and (max-width : 1050px) and (min-width : 900px) {
 
 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bgmain3.png') center;
  background-size:cover;
  transition: 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width:100%;
  height:100%;
  padding-left:50px;
  padding-top:160px;
  padding-right:50px;
  text-align:center;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1{z-index:1; position:fixed;}

#tonrose{margin-left:0;}

.g1{width:35%;}


.popup .close {
  position: absolute;
  font-size: 20px;
  font-family:sollight;
  text-decoration: none;
  color: white;
  text-align:center;
}
.popup .close:hover {
  color: #f37567;
}
.popup .content {
  text-align:center;
  transition: 0.25s ease-in-out;
  display:inline-block;
  margin:auto;
  width:300px;
  padding:100px;
 
}

 
 }
 
 
 
 
 @media only screen and (max-width : 1290px) and (min-width : 1051px) {
 
 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bgmain3.png') center;
  background-size:cover;
  transition: 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width:100%;
  height:100%;
  padding-left:400px;
  padding-top:130px;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1{z-index:1; position:fixed;}

#tonrose{margin-left:100px;}


.popup .close {
  position: absolute;
  font-size: 20px;
  font-family:sollight;
  text-decoration: none;
  color: white;
  text-align:center;
}
.popup .close:hover {
  color: #f37567;
}
.popup .content {
  text-align:center;
  transition: 0.25s ease-in-out;
  display:inline-block;
  margin:auto;
  width:300px;
 
}
 
 }
 
 
 
  @media only screen and (min-width : 1400px){
	 div.panel.show {
    opacity: 1;
    max-height: 1000px; 
    }
	
	div.panel{height:850px;}
	
	.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bgmain3.png') center;
  background-size:cover;
  transition: 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width:100%;
  height:100%;
  padding-left:510px;
  padding-top:230px;
  z-index:999999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1{z-index:1; position:fixed;}

#tonrose{margin-left:100px;}


.popup .close {
  position: absolute;
  font-size: 20px;
  font-family:sollight;
  text-decoration: none;
  color: white;
  text-align:center;
}
.popup .close:hover {
  color: #f37567;
}
.popup .content {
  text-align:center;
  transition: 0.25s ease-in-out;
  display:inline-block;
  margin:auto;
  width:300px;
 
}
	
	
	
 }