@font-face{
  font-family: cocobold;
  src: url("fonts/CocoGothic-Bold_trial.ttf") 
}

@font-face{
  font-family: sollight;
  src: url("fonts/Solomon Sans Light.otf") 
}

@font-face{
  font-family: solsemi;
  src: url("fonts/Solomon Sans SemiBold.otf") 
}



#lui{width:100%;}
#lui2{width:100%; display:block;}
#lui3{display:none;}
#img2{width:90%; padding:20px 5px 5px 10px; vertical-align:middle; margin:auto; display:inline-block;}
#logo{width:30%; }

.accord {
  float: right;
  width: 95%;
  margin-top:0px;

}
/* Acordeon styles 1
.tab {
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0px 0px 20px 0px;
  background: #DF2935;
  font-family: cocobold;
  font-size:20pt;
  font-weight: bold;
  line-height: 3;
  text-align:center;
  cursor: pointer;
}

label:hover{ color:#442043; transition:0.25s ease-in-out;}


.tab-content {
  max-height: 100%;
  overflow: hidden;
  background: #1abc9c;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  background:url('../bg.png'); background-size:cover;
  font-family: sollight;
  
}

.tab-content p {
  margin: 1em;
}
#cont1{padding: 40px 50px 20px 50px;}
/*:checked 
input:checked ~ .tab-content {
  max-height: 10em;
}
/* Icon 
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}*/


img:hover #lui {background: #442043; content:'home';}





a[title]:hover:after {
  content: attr(title);
  background:none;
  font-family:sollight;
  color:#ffd87c;
  mix-blend-mode:exclusion;
  text-align:center;
  font-size:9pt;
  transition:0.25s ease-in-out;
  }

  
  i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}





 button.accordion {
    background:#DF2935;
    color: #FDE3A7;
	font-family:solsemi;
	font-size:18pt;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #b61827;
	border-bottom: none ;  
	border-right: none ;  
	border-left: none ;  
    outline: none;
    transition: 0.4s;
	
}

  

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion:hover {
    background:#442043;
	color:white;
	
}

button.accordion.active{
background:#DF2935;
	color:#98ECC6;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
}

div.panel {
    padding: 0 5px;
	width: 100%;
	color:white;
	font-size:12pt;
	font-family:cocolight;
	font-weight:400;
    background: #DF2935 url('../img/bg.png') fixed;
	background-size:cover;
    max-height: 0;
    transition: 0.6s ease-in-out;
    opacity: 0;
	text-align:center;
}
div.panel:focus {
    outline: none !important;
}

#text{padding:20px 20px 40px 70px;}

#text a{text-decoration:none;}
#text a:hover{font-family:cocobold;}

#menulogo{width:10%; margin:auto; mix-blend-mode:exclusion; }

div.panel.show {
    opacity: 1;
    max-height: 700px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}



@media only screen and (max-width : 480px){
#lui3{display:block; width:100%;}
#lui2{display:none;}
#logo{width:90%; }
.accord {
  float: right;
  width: 100%;
  margin-top:0px;}
#text{padding:20px;}

div.panel {background: #DF2935 url('../img/bg.png') fixed; background-size:cover;}
div.panel.show {
    opacity: 1;
    max-height: 1700px; 
	overflow-y:hidden;
}

}


@media only screen and (max-width : 650px) and (min-width : 481px) {
#lui3{display:block; width:100%;}
#lui2{display:none;}
#logo{width:90%; }
.accord {
  float: right;
  width: 100%;
  margin-top:0px;}
#text{padding:20px;}

div.panel {background: #DF2935 url('../img/bg.png') fixed; background-size:cover;}
div.panel.show {
    opacity: 1;
    max-height: 1700px; 
	overflow-y:hidden;
}

}

@media only screen and (max-width : 768px) and (min-width : 651px) {

 #lui3{display:block; width:100%;}
#lui2{display:none;}
#logo{width:90%; }
.accord {
  float: right;
  width: 100%;
  margin-top:0px;}
#text{padding:20px;}

div.panel {background: #DF2935 url('../img/bg.png') fixed; background-size:cover;}
div.panel.show {
    opacity: 1;
    max-height: 1700px; 
	overflow-y:hidden;
}

}


@media only screen and (max-width : 899px) and (min-width : 769px){
 
#lui3{display:block; width:100%;}
#lui2{display:none;}
#logo{width:90%; }
.accord {
  float: right;
  width: 100%;
  margin-top:0px;}
#text{padding:20px;}

div.panel {background: #DF2935 url('../img/bg.png') fixed; background-size:cover;}
div.panel.show {
    opacity: 1;
    max-height: 1700px; 
	overflow-y:hidden;
}
 }